.header__lang-link {
	font-size: 24px;
	color: aliceblue;
	width: 30px;
	height: 28px;
	align-self: center;
	font-weight: 400;
}

.header__lang-link:nth-last-child(1) {
	margin-left: 18px;
	text-decoration: none;
}

@media screen and (max-width:767px) {
	.header__lang-link {
		width: 22px;
		height: 20px;
		font-size: 18px;
		padding-top: 14px;
	}
}