.places {
	display: block;
	width: calc(100% - 2*148px);
	margin: 0 auto;
	column-gap: 40px;
}

@media screen and (max-width: 1279px) {
	.places {
		width: calc(100% - 2*48px);
		max-width: 928px;
	}
	
}

@media screen and (max-width: 767px) {
	.places {
		width: 100%;
		max-width: 928px;
	}
	
}