.header {
	background-color: 2A2C2F;
	padding: 28px 0px 56px 0px;
	width: calc(100% - 2*48px);
	display: flex;
	margin: auto;
}

@media screen and (max-width: 1279px) {
	.header {
		padding: 28px 0px 48px 0px;
	}
}

@media screen and (max-width: 1023px) {
	.header {
		padding: 28px 0px 48px 0px;
		width: calc(100% - 2*24px);
	}
}

@media screen and (max-width: 767px) {
	.header {
		padding: 16px 0px 48px 0px;
		width: calc(100% - 2*16px);
	}
}