.place__paragraph {
	color: #FFFFFF;
	font-size: 18px;
	margin: 0 0 0 0;
	display: inline-block;
	line-height: 29.34px;
}

.place__paragraph:nth-child(2) {
	padding-top: 26px;
}


@media screen and (max-width:1023px) {
	.place__paragraph {
		font-size: 16px;
		line-height: 26.08px;
	}

	.place__paragraph:nth-child(2) {
		padding-top: 25px;
	}
}
