.cover__image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../../../images/__image_station.jpg);
  width: 100%;
  min-height: 740px;
  text-decoration: none;
  position: relative;
  z-index: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 1279px) {
  .cover__image {
    min-height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__image {
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover__image {
    min-height: 200px;
  }
}

.cover__image::after {
  content: no-open-quote;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.3;
  transition: opacity 0.5s ease-in;
  background-color: #2A2C2F;
}

.cover__image:hover::after {
  opacity: 0.8;
}

