.cover__title {
  color: white;
  font-size: 72px;
  max-width: 560px;
  text-align: center;
  font-weight: 900;
  margin: 0 auto 0 auto;
  z-index: 2;
  padding: 0;
  line-height: 76px;
}

@media screen and (max-width: 767px) {
  .cover__title {
    max-width: 320px;
    font-weight: 900;
    line-height: 32px;
    font-size: 32px;
  }  
}